.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.916992;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.858887;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.936035;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.960938;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:246.070317px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:56.000000px;}
.fs2{font-size:96.000000px;}
.fs0{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:11.727762px;}
.yd{bottom:42.087460px;}
.yc{bottom:47.578945px;}
.y6{bottom:120.214966px;}
.y7{bottom:120.215057px;}
.y4{bottom:189.467957px;}
.y8{bottom:191.152466px;}
.yb{bottom:270.577162px;}
.y5{bottom:281.239380px;}
.y3{bottom:281.698364px;}
.y2{bottom:354.844421px;}
.ya{bottom:448.952934px;}
.y1{bottom:488.963087px;}
.h2{height:42.000000px;}
.h3{height:65.343750px;}
.h6{height:65.625000px;}
.h4{height:72.000000px;}
.h5{height:72.937500px;}
.h1{height:108.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x9{left:59.228817px;}
.x14{left:173.433594px;}
.xf{left:189.660126px;}
.x10{left:221.447235px;}
.x7{left:229.685516px;}
.xc{left:232.218719px;}
.x12{left:247.058578px;}
.x4{left:343.724892px;}
.x1{left:407.687492px;}
.x2{left:410.299662px;}
.xe{left:416.187592px;}
.x11{left:420.562592px;}
.x8{left:429.062592px;}
.xd{left:432.312592px;}
.xb{left:438.875092px;}
.x6{left:449.374992px;}
.x13{left:450.812592px;}
.x5{left:510.304333px;}
.x3{left:579.525278px;}
.xa{left:820.771172px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:328.093757pt;}
.fs1{font-size:74.666667pt;}
.fs2{font-size:128.000000pt;}
.fs0{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:15.637016pt;}
.yd{bottom:56.116613pt;}
.yc{bottom:63.438594pt;}
.y6{bottom:160.286621pt;}
.y7{bottom:160.286743pt;}
.y4{bottom:252.623942pt;}
.y8{bottom:254.869954pt;}
.yb{bottom:360.769549pt;}
.y5{bottom:374.985840pt;}
.y3{bottom:375.597819pt;}
.y2{bottom:473.125895pt;}
.ya{bottom:598.603912pt;}
.y1{bottom:651.950783pt;}
.h2{height:56.000000pt;}
.h3{height:87.125000pt;}
.h6{height:87.500000pt;}
.h4{height:96.000000pt;}
.h5{height:97.250000pt;}
.h1{height:144.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x9{left:78.971756pt;}
.x14{left:231.244792pt;}
.xf{left:252.880168pt;}
.x10{left:295.262980pt;}
.x7{left:306.247355pt;}
.xc{left:309.624959pt;}
.x12{left:329.411438pt;}
.x4{left:458.299856pt;}
.x1{left:543.583323pt;}
.x2{left:547.066216pt;}
.xe{left:554.916789pt;}
.x11{left:560.750122pt;}
.x8{left:572.083455pt;}
.xd{left:576.416789pt;}
.xb{left:585.166789pt;}
.x6{left:599.166656pt;}
.x13{left:601.083455pt;}
.x5{left:680.405777pt;}
.x3{left:772.700371pt;}
.xa{left:1094.361562pt;}
}
